
:root {
    /* Main Crimson Color */

    --highlight-color: #b3003b; /* Bright crimson highlight for emphasis */
    --link-color: #ff4d6d; /* Vivid and striking reddish-pink for links */
    --border-color: #3e3e42; /* Soft gray border color */


    /* Base Colors */
    --background-color: #000;
    --crimson: #2e0000;
    --background-alt: #160002;
    --accent-color: #8B0000;
    --text-color: #ffcfcf;
    --text-alt-color: #999;

    --text-selection-color: #ff7f7f;

    --blur: 1px;
    --shadow-color: #780000;

    --font-small: 0.85rem;
    --font-medium: 1.25rem;
    --font-large: 2rem;

    --input-font-size: 16px;
    --input-padding: 12px;
    --input-border-radius: 15px;
    --input-border-width: 3px;
    --input-border-color: inherit;//var(--accent-color);
    --input-background: var(--background-color);

    --sidebar-width: 300px;
}
#background-video {
    height: 100vh;
    position: fixed;
    width: 240px;
    left: calc(var(--sidebar-width) - 60px);
    right: 0;
    top: 0;
    bottom: 0;
}
.input-wrapper {
    position: relative;
    background-color: var(--background-color);
    border-radius: var(--input-border-radius);
    min-width: min-content;
    border: var(--input-border-width) solid var(--input-border-color);
    height: fit-content;

    margin: 5px;
    padding: 1rem;

    flex-grow: 1;
}

.input-label {
    user-select: none;
    background-color: var(--background-color);
    position: absolute;
    left: var(--input-padding);

    border-top-left-radius: var(--input-border-radius);
    border-top-right-radius: var(--input-border-radius);

    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--accent-color);
    pointer-events: none;
    text-transform: capitalize;
}
.input-content {
    margin-top: 2rem;
}

a {
    color: var(--link-color);
}

#main-name {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--highlight-color);
    text-shadow: 2px 2px 4px var(--background-alt);
}
#features-title {
    text-align: center;
    margin-bottom: 0px;

}

body {
    font-family: Times New Roman;
    font-size: large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--background-alt);
    color: var(--text-color);
}

.container {
    display: flex;
    width: 800px;
    height: 100vh;
}

.sidebar {
    width: var(--sidebar-width);
    padding: 20px;
    padding-right: 140px;
    background-color: var(--crimson);
    color: var(--text-color);
    overflow: auto;
    position: fixed;
    height: 100vh;

    .features {
        li {
            margin: 1rem 0;
            ul {
                li {
                    margin: 5px 0;
                }
            }

        }
        li::marker {
            color: var(--highlight-color);
        }
    }
}

.main {
    padding: 20px;
    left: calc(var(--sidebar-width) + 50px);
    z-index: 1;
    position: relative;
    width: calc(100vw - 400px - 40px);
    .ATS-Bullshit {
        font-size: 1px;
        color: var(--background-alt);
        line-height: 0px;
    }
}
#pic-container {
    text-align: center;
    width: 250px;
    height: 250px;
    margin: auto;
}

.hexagon {
    overflow: hidden;
    clip-path: ellipse(40% 50%);
    position: fixed;
    width: 200px;
    height: 200px;
    margin: 10px 70px;
    left: 0;
    transition: opacity 0.5s ease; /* Smooth transition */
    object-fit: cover;
}

.thumbnail {
    z-index: 1;
}

.fullsize {
    z-index: 2;
    opacity: 0;
}

#pic-container:has(.fullsize:valid) .fullsize {
    opacity: 1;
}

#pic-container:has(.fullsize:valid) .thumbnail {
    opacity: 0;
}


.sidebar h2, .main h2 {
    margin-top: 0;
    color: var(--highlight-color);
}

.inline {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;

    .tag {
        font-size: 18px;
        color: var(--highlight-color);
        text-shadow: 2px 2px 4px var(--background-alt);
        font-weight: bold;

    }
}

.section {
    margin-bottom: 20px;
    @media print {
        break-inside: avoid;
        div {
            break-inside: avoid;
        }
    }
}

.section h3 {
    margin-bottom: 5px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}